DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_SECRET_KEY=change-me-in-every-environment
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=compras_suprimentos
DB_USER=compras_suprimentos
DB_PASSWORD=change-me
DB_HOST=localhost
DB_PORT=5432
